@font-face {
    font-family: "Larsseit";
    src: url(../fonts/Larsseit.eot),
         url(../fonts/Larsseit.ttf),
         url(../fonts/Larsseit.woff),
         url(../fonts/Larsseit.woff2);
}
@font-face {
    font-family:"Larsseit-Medium" ;
    src: url(../fonts/Larsseit-Medium.eot),
         url(../fonts/Larsseit-Medium.ttf),
         url(../fonts/Larsseit-Medium.woff),
         url(../fonts/Larsseit-Medium.woff2);
}
@font-face {
    font-family: "Larsseit-Bold";
    src: url(../fonts/Larsseit-Bold.eot),
         url(../fonts/Larsseit-Bold.ttf),
         url(../fonts/Larsseit-Bold.woff),
         url(../fonts/Larsseit-Bold.woff2);
}

html,
body{
  font-family: 'Larsseit',sans-serif;
  font-size: 14px;
}
a{
    text-decoration:none;
}
ul {
    margin: 0px; 
    padding: 0px; 
    list-style: none;
  }
.title{
    font-size: 24px;
    color:#22356F;
}
.button{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
    background: #62D0DF;
    color: #FFFFFF;
    font-family: 'Larsseit',sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding:20px 30px;
    text-transform: uppercase;
  }
.paragraf{
    font-family: 'Larsseit',sans-serif;
    font-size: 24px;
    color: #22356F;
}

/* header block */
.header__nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 27px;
}
.header__contant{
    display: flex;
    margin-left: 180px;
    width: 500px;
    min-height: 800px;
}
.header__contant::after{
    content: "";
    position: absolute;
    background: url(../imgs/header_img.svg) right top no-repeat;
    width: 645px;
    height: 810px;
    right: 0;
    top:10px;
    z-index: -1;
}
.nav__menu{
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo__link{  
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}
.menu__list{
    width: 233px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.menu__item{
    font-size: 14px;
line-height: 16px;
}

.content__h-left{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.h-left__span{
    font-size: 24px;
line-height: 27px;
letter-spacing: -0.035em;
color: #62D0DF;
}
.h-left__title{
    font-size: 48px;
line-height: 53px;
letter-spacing: -0.035em;
}
.h-left__paragraf{
    font-size: 24px;
line-height: 42px;
color: #22356F;
}
.h-left__actions{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.actions__button{
    background: #F9B640;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    margin-right: 40px;
    font-size: 16px;
    line-height: 23px;
    padding:10px 30px;
}
.actions__link{
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FAB63E;
    text-transform: uppercase;
}
/* motiv block */
.motiv__title{
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}
.motiv__paragraf{
    width: 555px;
    height: 235px;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}
.motiv__container{
    position: relative;
    background: #62D0DF;
    min-height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding-left: 180px;
}
.motiv__container::after{
    position: absolute;
    top:0;
    right: 0;
    content:"";
    background: url(../imgs/motivion_img.svg) right no-repeat;
    background-size: cover;
    width: 525px;
    height: 604px;
}
/* about block */
.about__container{
    width: 1440px;
    height: 361px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: relative;
}
.about__title{
    font-size: 16px;
line-height: 23px;
letter-spacing: 0.06em;
text-transform: uppercase;
position: absolute;
    top: 150px;
    left: 100px;
}
.about__paragraf{
    line-height: 34px;
    letter-spacing: 0.005em;
    width: 592px;
    height: 210px; 
}
/* help block */
.help__title{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
}
.help__grid-wrapper{
    display: grid;
    grid-template-rows: 360px;
    grid-template-columns: repeat(4,1fr);
}
.grid-wrapper__section{

}
.section__list{
  list-style: url(../imgs/Ellipse.svg);
  list-style-position: inside;
}
.list__item{  
  padding:100px 50px;
}

.item__link{
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em; 
    color: #FFFFFF;
    border-top:1px solid white;
    padding-top: 23px;
    padding-left: 15px;
}

.section-1{
    background: #FFE2DE;
}
.section-2{
    background: #C4E769;
}
.section-3{
    background: #62D0DF;
}
.section-4{
    background: #0052C1;
}
